# thorium-state-storage Test Results

> **Started**: Thu, 02 May 2024 08:17:28 GMT

<center>

|Suites (1)|Tests (1)|
|:-:|:-:|
|![](https://img.shields.io/badge/Passed-1-green) | ![](https://img.shields.io/badge/Passed-1-green)|
|![](https://img.shields.io/badge/Failed-0-lightgrey) | ![](https://img.shields.io/badge/Failed-0-lightgrey)|
|![](https://img.shields.io/badge/Pending-0-lightgrey) | ![](https://img.shields.io/badge/Pending-0-lightgrey)|

---

<table>
<thead>
<tr>
<th>index.test.js</th>
<th></th>
<th></th>
<th>0.307</th>
</tr>
</thead>
<tbody>
<tr style="background-color: lightgreen; color: black">
<td><strong>DesignSystem</strong></td>
<td><i>Create Table</i></td>
<td>passed</td>
<td>0.02</td>
</tr>
</tbody>
</table>
</center>